[run]
branch = True
source = jenkinsflow

[paths]
source =
    src
    **/site-packages/jenkinsflow

[report]
# This will be overridden with command line option depending on chosen API type tests
fail_under = 100
precision = 3
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # utility scripts
    # This is hopefully covered by a subprocess call, but it won't be collected
    if __name__ == "__main__":

    # Don't complain if tests don't hit defensive assertion code:
    raise .*Internal error.*
    raise .*AbstractNotImplemented.*
    raise *\# Should not happen

    ${COV_API_EXCLUDE_LINES?}

partial_branches =
    # Have to re-enable the standard pragma
    pragma: no branch

omit =
    .nox/*
    test/*
    experiments
    *_flymake.py
    flycheck_*.py
    **/test/*
    **/demo/*

    ${COV_API_EXCLUDE_FILES?}
