*~
*.pyc
__pycache__
.cache
.coverage
.pytest_cache
*.egg
*.egg-info
TAGS
*.class
.eggs
dist
.tox
.nox
.mypy_cache
*.tenjin.cache
build
test/out

# Sphinx
docs/_build/*

classes_jenkinsflow.png
packages_jenkinsflow.png
