*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
.eggs
develop-eggs
dist
build
parts
bin
var
sdist
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage*
coverage_rc.tenjin.cache*
.tox
.nox
nosetests.xml
.pytest_cache/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Emacs backup
*~
TAGS
*_flymake.py

*.tenjin.cache
.cache
.cache-*
__pycache__

# Vim swap
*.sw?

# PyChrm files
.idea

# Sphinx
doc/_build/*
