setuptools>=69.0.3
requests>=2.20,<=3.0
atomicfile>=1.0,<=2.0
click>=7.0
tenjin>=1.1.1

# Required by the script API:
# You need to install python(3)-devel to be be able to install psutil, see INSTALL.md
psutil>=5.6.6
setproctitle>=1.1.10

# Required by the job dependency graph visualisation
bottle>=0.12.1
